.userProfile--header {
    display: flex;
    gap: 60px; 
    text-align: left;
    justify-content: center;
    background-color: #303030;
    padding: 20px; 
    border-radius: 10px;
    width: 50%;
    max-width: 100%; 
    box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.2);
    box-sizing: border-box;
}

.userProfile--header img {
    border-radius: 100%;
    width: 100px; 
    height: 100px; 
    object-fit: cover; 
}

.user--main--info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 0; 
}

.user--main--info h1, .user--main--info h3 {
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.full--name {
    font-size: 1.5rem;
}

.username {
    font-size: 1rem;
    color: #d1d1d1;
}