.register--form {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 30px;
    max-width: 600px;
}

/* Adjust styles for smaller screens */
@media screen and (max-width: 768px) {
    .register--form {
      grid-template-columns: 1fr; 
      gap: 20px;
    }
  }

.submit--register {
    border-style: none;
    width: 100px;
    height: 23px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(16, 132, 16);
    transition: background-color 0.5s;
    margin-top: 27px;
    margin: 27px auto 0;
}

.submit--register:hover {
    background-color: rgb(23, 193, 23);
}

.info--modal {
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(23, 21, 21);
    padding: 10px 10px 25px 10px;
    border-radius: 4px;
    z-index: 1000;
    min-width: 450px;
    max-height: 80vh;
}

.info--modal h3 {
	color: rgb(0, 186, 6)
}

.login--modal--link {
	background-color: rgb(100, 100, 255);
	color: white;
	border-radius: 15%;
	padding: 5px 10px;
}