.register--form {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 30px;
    max-width: 600px;
}

/* Adjust styles for smaller screens */
@media screen and (max-width: 768px) {
    .register--form {
      grid-template-columns: 1fr; /* Change to a single column layout for small screens */
      gap: 20px;
    }
  }

.submit--register {
    border-style: none;
    width: 100px;
    height: 23px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(16, 132, 16);
    transition: background-color 0.5s;
    margin-top: 27px;
    margin: 27px auto 0;
}

.submit--register:hover {
    background-color: rgb(23, 193, 23);
}