.dropdown--menu {
    position: fixed;
	top: 80px;
	right: 5px;
    background-color: #303030;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 1000;
    max-width: 100%;
    margin-bottom: 8px; 
}

.dropdown-menu .MuiPaper-root {
    width: 100%;
}

.dropdown-menu .MuiMenuList-root {
    padding: 0;
}

.dropdown-menu .MuiMenuItem-root {
    padding: 10px 20px;
}

.dropdown-menu .MuiListItemIcon-root {
    min-width: 40px;
}

.dropdown-menu .MuiListItemText-root {
    margin: 0;
}
