.page--header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    background-color: #303030;
    box-shadow: 1px 0px 1px 2px rgba(0,0,0,0.2);
}

.header--logo {
    margin: 0 auto;
    padding-left: 100px;
}

.header--options {
    margin: 0 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    height: 100%;
    gap: 30px;
}

.header--home--button {
    cursor: pointer;
    font-size: 30px;
}

.logged--user--button {
    height: 50%;
    width:  auto;
    border-radius: 100%;
    cursor: pointer;
}

@media (max-width: 400px) {
    .page--header {
        gap: 10px;
    }

    .header--options {
        width: 50%;
    }
}