.comment--card {
    width: 100%;
    height: auto;
    padding: 0;
    background-color: rgb(12, 11, 11);
    color: white;
    display: grid;
    max-width: 40vw;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.comment--header {
    display: flex;
    justify-content: left;
    align-items: center;
    max-height: 100px;
    width: 90%;
    gap: 20px;
    padding-left: 20px;
    overflow: hidden;
    font-size: 14px;
    cursor: pointer;
}

.comment--profil--picture {
    max-height: 30px;
    max-width: 100%;
    border-radius: 100%;
}

.comment--text {
    padding: 0 0 0 30px;
    margin: 0;
    align-self: start;
    justify-self: start;
    text-align: left;
    word-break: break-all;
    word-wrap: break-word;
}

.comment--likes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.comment--likeButton {
    cursor: pointer;
}

.delete--comment--icon {
    cursor: pointer;
    padding: 0;
    align-self: flex-start;
}

.delete--comment--icon:hover {
    color: red;
}