.modalbg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.comment--modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(12, 11, 11);
    padding: 0 10px;
    border-radius: 4px;
    z-index: 1000;
    min-width: 450px;
    max-height: 80vh;
}

.comment--cards {
    overflow: auto; 
    max-height: 60vh;
}

.comment--cards::-webkit-scrollbar {
    display: none;
}

.no--comments--card {
    padding: 40px 0;
}

@media (max-width: 600px) {
    .comment--modal {
        width: 100px;
        padding: 10px;
    }
}

.closeModal--button {
    position: fixed;
    right: 20%;
    top: 10%;
    cursor: pointer;
    font-size: 30px;
}